.hero-section {
  display: flex;
  background-color: #f8f9fa;
}

.card-cont {
  min-width: 20rem !important;
  width: 100%;
  padding: 0 !important;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #002c3e;
  padding-top: 2rem;
  /* padding-right: 5rem; */
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 2px solid;
  /* max-width: 51%; */
}

.heading-content {
  margin-left: 5rem;
}

.subheading {
  color: #31383a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  padding-top: 1rem;
}

.image-1 {
  padding-top: 5rem;
  width: 9rem;
  margin-left: 2rem;
}
.image-2 {
  width: 5rem;
  margin-right: 2rem;
}

.img-cont {
  overflow: hidden;
}

.image {
  margin-left: 5rem;
  top: 0;
  width: 100%;
  height: 102%;
  object-fit: cover;
}

.menu-section {
  display: flex;
  /* margin-left: 5rem; */
  width: 80%;
  margin: auto;

  padding-bottom: 2rem;

  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.list-cont {
  display: flex;
  justify-content: center;
}

.list {
  /* display: flex; */
  list-style: none;
  padding-left: 0;
}

.list-item {
  margin-top: 2rem;
}

.text-content {
  max-width: 50%;
}

.button {
  min-width: 32rem;
  text-align: center;
  background-color: #387e9f;
  color: #fffffa;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  border-radius: 63px;
  transition: all ease 0.3s;
}

.button:hover {
  text-decoration: none;
  background-color: #4f97b8;
  color: #fffffa;
}

@media only screen and (max-width: 600px) {
  .text-content {
    max-width: 90%;
  }

  .button {
    min-width: 24rem;
  }
}

body {
  font-family: sans-serif;
}
.ais-SearchBox {
  margin: 1em 0;
  margin-top: 5rem;
}
.ais-Pagination {
  margin-top: 1em;
}
.left-panel {
  float: left;
  width: 250px;
}
.right-panel {
  margin-left: 15rem;
  margin-right: 15rem;
}
*/ .ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
.ais-Hits-item {
  margin: 0 !important;
  width: calc(33.3% - 1rem) !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.ais-Hits-item img {
  margin-right: 1em;
}
.ais-Hits-list {
  margin-top: 4rem !important;
  margin-left: 8rem !important;
}
.hit-name {
  margin-bottom: 0.5em;
}
.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}

/* .row-cont{
  display: flex !important;
  overflow: wrap;
} */
