.full-height {
  height: 100vh;
  overflow: auto;
}

.search-highlight {
  font-style: normal;
  background-color: yellow;
}

.form-select {
  margin-bottom: 15px;
}

.vis-container {
  text-align: center;
}
