.card-image {
  width: 100%;
  max-height: 18rem;
  object-fit: cover;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #002c3e;
  padding-top: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  border-bottom: 2px solid;
  text-align: center;
}

.description {
  color: #31383a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  padding-top: 1rem;
}

.theme-link {
  color: #387e9f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
  padding-top: 1rem;
}

.about-container {
  text-align: center;
}
